.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(56, 40, 47);
    height: 90%;
    width: 90%;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #0f0f0f !important;
}

.messages-container {
    overflow: auto; 
    max-height:71%;
}

.messages-container-smaller {
    overflow: auto; 
    max-height:58%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}