.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(56, 40, 47);
    height: 80%;
    width: 70%;
    margin: 10%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #0f0f0f !important;
}

.messages-container {
    overflow: auto; 
    max-height:71%;
}

.messages-container-smaller {
    overflow: auto; 
    max-height:58%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

@media only screen and (max-width: 600px) {
    .chat-window {
        width: 96%;
        margin: 2%;
        height: 700px;
    }
    
    .messages-container {
        height: 550px;
    }

    .messages-container-smaller {
        height: 500px;
    }
}