.App {
  text-align: center;
  background-image: linear-gradient(rgb(66, 65, 88), rgb(211, 102, 174) 200%);
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.creation-button {
  margin: 20px;
  background-color:rgb(235, 249, 252);
  border-radius: 10px;
  border: 0px;
  padding: 20px;
  box-shadow: 1px 1px 5px #888888 !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.join-box {
  margin: 20px;
  border:1px solid rgb(235, 249, 252);
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  width: 20%;

}

.creation-button:hover {
  background-color:rgb(110, 139, 192);
  cursor: pointer;
}



.form-container {
  display:flex; 
  flex-direction:row; 
  vertical-align: center; 
  align-items: center; 
  justify-content:center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
