.closing-modal {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    justify-content: flex-end;
   }

  .conversation-found {
      border-radius: 17px;
      background-color: rgb(194, 171, 216);
      max-width: 50px;
      word-break: break-all;
      white-space:normal;
      padding:10px;
  }

  .conversation-found:hover {
    cursor:pointer;
    background-color: rgb(194, 171, 216);
}