.chat-list-container {
    width: 30%;
    height: 80%;
    margin:5% 0%;
    word-break: break-all;
    white-space: normal;
}

@media only screen and (max-width: 600px) {
    .chat-list-container {
        width: 90%;
        margin: 5% auto;
    }
  }