
.join-box {
    margin: 20px;
    border-radius: 10px;;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 60%;
    justify-content: center;
}

.join-box-expanded {
    margin: 20px;
    border-radius: 10px;;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 70%;
    justify-content: center;
}

.form-container {
    display:flex; 
    flex-direction:row; 
    vertical-align: center; 
    align-items: center; 
    justify-content:center;
    align-items: center;
}


.join-message {
    font-family: Arial Medium, sans-serif;
    box-shadow: 1px 1px 2px #0f0f0f !important;
    padding: 10px 5px 10px 10px;
    width: 100%;
    border-radius: 5px;
}

.join-message-expanded {
    font-family: Arial Medium, sans-serif;
    padding: 10px 0px;
    width: 100%;
    border-radius: 5px;
}

.join-message:hover {
    cursor: pointer;
}

.join-message-expanded:hover {
    cursor: pointer;
}
  

.go-button {
    background-color:rgb(181, 201, 238);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5%;
    border: 0px;
    height:20px;
    border-radius: 5px;
}

.go-button:hover {
    background-color:rgb(110, 139, 192);
    cursor: pointer;
}


.join-input-field {
    width: 60%;
    min-width: 40%;
    height: 20px;
    background: rgb(194, 171, 216);
    border: 0px;
    box-shadow: inset 1px 1px 3px #111111;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin: 0px 5px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin: 0px 10px;
  }

  .close-btn {
    height: 10px;
   }

   .close-btn:hover {
    cursor: pointer;
   }


.options-modal {
    margin: auto;
    background-color:rgb(149, 105, 153);
    border-radius: 10px;
    border: 0px;
    padding: 0px 20px 30px 20px;
    box-shadow: 1px 1px 3px #111111 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.form-section {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
}

label {
    margin: 10px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}