.chat-item {
    height: 10%;
    width: 80%;
    padding: 10px;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(109, 91, 112);
    border-radius: 10px;
    overflow: hidden;
    color: white;
    box-shadow: 1px 1px 3px #111111;
}

@media only screen and (max-width: 600px) {
    .chat-item {
        height: 20%;
        margin: 3% auto;
    }
  }

.chat-item:hover {
    cursor:pointer;
    background-color: rgb(241, 224, 192);
}

.chat-item:active {
    cursor:pointer;
    background-color: rgb(84, 66, 100);
    box-shadow: -1px 0px 3px #111111;
}